<!doctype html>
<html lang="pt-br">
	<head>
		<title>JOGOS EDUCACIONAIS</title>
		<meta name="description" content='Jogos Educacionais para crianças. Fixaçao de matéria e conteúdo de maneira lúdica'>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
	<div class="container-fluid">
		<div class="col align-self-center mt-3">
			<div class="alert alert-primary shadow">
				<h1 class="alert-heading">Benvindo aos Jogos Educacionais</h1>
			</div>
		</div>	
		<div class="col align-self-center">
			<div class="alert alert-success shadow">
				<h4 class="alert-heading">Escolha seu jogo:</h4>
				<hr />
				<div class="list-group shadow">
					<a href="/math" class="list-group-item list-group-item-action list-group-item-danger">Jogar Matemática</a>
					<a href="/port" class="list-group-item list-group-item-action list-group-item-primary">Jogar Português</a>
					<a href="/engl" class="list-group-item list-group-item-action list-group-item-warning">Jogar Inglês</a>
				</div>
			</div>
    		</div>
	</div>
	</body>
</html>