<!doctype html>
<html lang="pt-br">
	<head>
		<title>Matemática - JOGOS EDUCACIONAIS</title>
		<meta name="description" content='Jogos Educacionais de matemática para crianças. Fixaçao de matéria e conteúdo de maneira lúdica'>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
	<div class="container-fluid">
			<div class="alert alert-primary border border-secondary mt-3 shadow">
				<div class="d-flex align-items-center justify-content-between">
    					<div class="light">
						<a href="\" class="text-secondary btn">Jogos Educacionais</a>
    					</div>
    					<div>
						<h2 class="alert-heading">Matemática</h2>
    					</div>
				</div>
			</div>
	
		<a href="/mathgame">Clique aqui</a> para iniciar o Jogo
	</div>
	</body>
</html>